---
import Section from './Section.astro';
---

<Section title="Accesorios" color="black" showFooterContent="true">
	<div slot="footer" class="flex mx-auto gap-x-6">
		<a
			href="#"
			class="bg-black/70 border-black/70 text-sm rounded font-medium hover:bg-black/90 hover:text-[#eee] text-[#eee] px-12 py-2 inline-block transition-colors hover:bg-black[30]"
			>Comprar ahora</a
		>
	</div>
	<img
		src="/accesories.avif"
		alt="Accesorios"
		class="h-full w-full object-cover object-center"
		slot="bg-media"
	/>
</Section>
